/* .leaflet-interactive {
    cursor: default !important;
} */

.leaflet-container {
    cursor: default !important;
}

.leaflet-popup-tip {
    display: none;
}

#titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1em;
    height: 9%; 
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    color: lightgray; 
}

#mainGrid {
    display: grid; 
    width: 100%; 
    height: 91%; 
    grid-template-columns: 72% 28%;
    border: 2px solid lightgrey;
}

#globalNums {
    display: grid; 
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    height: 14%;
    border-right: 2px solid lightgrey;
    color: lightgray;
}

.mapContainer {
    display: flex;
    width: 100%;
    height: 69%;
    justify-content: center;
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
}

#map {
    width: 100%;
    height: 100%;
}

#mapLoader {
    border: 1.8em solid #f3f3f3; /* Light grey */
    border-top: 1.8em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 18em;
    height: 18em;
    align-self: center;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#sliderContainer {
    display: grid;
    width: 100%;
    height: 7%;
    grid-template-columns: 85% 15%;
    border-right: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
    justify-content: center;
    align-items: center;
}

.timeSlider {
    -webkit-appearance: none;
    width: 98%;
    height: 25%;
    background: #cbffff;
    border-radius: 1em;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    direction: rtl;
    justify-self: center;
    margin-left: 2%;
}

#selectedDate {
    color: lightgrey; 
    justify-self: center;
    font-size: 1.4em;
}

.timeSlider:hover {
    opacity: 1;
}

.timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1em;
    background: #09c037;
    cursor: pointer;
}

.timeSlider::-moz-range-thumb {
    width: 1.6em;
    height: 1.6em;
    background: #32a850;
    border-radius: 1em;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 10%;
    align-items: center;
    color: lightgray; 
    text-align: center; 
    border-top: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    padding-bottom: 0;
}

.legend {
    line-height: 14px;
    padding-left: 50px;
    padding-right: 50px;
}

.legend i {
    width: 1em;
    height: 100%;
    display: flex;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#infoTitle {
    font-size: 1.8em;
    margin-bottom: 0em;
    margin-top: -0.5em;
}

#info {
    height: 90%;
    padding: 1em 1em 0 1em;
    color: lightgray; 
    text-align: center;
}

#PopupTitle {
    font-size: large;
    font-weight: 600;
    color: lightgrey;
    margin-bottom: 10px;
}

#PopupBody {
    font-size: 14px;
    color: lightgrey;
}

strong.active, #activeDiff {
    color: gold;
}

strong.caseChange, #changeDiff {
    color: #ed2d1f;
}

strong.recovered, #recoveredDiff {
    color: dodgerblue;
}

strong.deaths, #deathDiff {
    color: orchid;
}

#activeCount {
    color: gold;
    font-size: 1.7em;
}

#recoveredCount {
    color: dodgerblue;
    font-size: 1.7em;
}

#deathCount {
    color: orchid;
    font-size: 1.7em;
}

#changeCount {
    color: #ed2d1f;
    font-size: 1.7em;
}